 *,
 *::before,
 *::after {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 html {
     --main-color: #f47a65;
     --bg-panel: #292B31;
     --color-text: #fff;
     font-family: "Poppins", sans-serif;
     font-size: 62.5%;
 }

 header {
     background-color: var(--bg-panel);
     font-size: 1.6rem;
     position: relative;
     padding: 2rem 8rem;
     display: flex;
     justify-content: space-between;
     color: var(--color-text);
 }

 .header__logo a {
     text-decoration: none;
     font-size: 2rem;
     text-transform: capitalize;
     color: var(--main-color);
 }

 header input {
     display: none;
 }

 header ul {
     list-style: none;
 }

 .header__button {
     width: 3rem;
     height: 3rem;
     z-index: 10;
     text-align: center;
     cursor: pointer;
     display: none;
 }


 .header__hamburger {
     position: relative;
 }

 .header__hamburger,
 .header__hamburger::after,
 .header__hamburger::before {
     width: 3rem;
     height: 3px;
     display: inline-block;
     background-color: var(--color-text);
 }

 .header__hamburger::before,
 .header__hamburger::after {
     content: "";
     position: absolute;
     left: 0;
     transition: all 0.2s;
     backface-visibility: hidden;
 }

 .header__hamburger::before {
     top: -0.8rem;
 }

 .header__hamburger::after {
     top: 0.8rem;
 }

 .header__button:hover .header__hamburger::before {
     top: -1rem;
 }

 .header__button:hover .header__hamburger::after {
     top: 1rem;
 }

 .header__checkbox:checked+.header__button .header__hamburger {
     background-color: transparent;
 }

 .header__checkbox:checked+.header__button .header__hamburger::before {
     transform: rotate(135deg);
     top: 0;
 }

 .header__checkbox:checked+.header__button .header__hamburger::after {
     transform: rotate(-135deg);
     top: 0rem;
 }

 .header__nav {
     list-style: none;
     display: flex;
     transition: all 0.2s;
 }

 .header__nav a {
     color: var(--color-text);
     text-decoration: none;
 }

 .header__nav li:not(:last-child) {
     margin-right: 4rem;
 }

 .dropdown li {
     margin: 0 !important;
 }

 /* Dropdown styles */
 .dropdown {
     position: relative;
 }

 .dropdown-toggle::after {
     content: "";
     display: inline-block;
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid var(--color-text);
     border-top: 5px solid transparent;
     margin-left: .8rem;
     transform: rotate(45deg);
     position: relative;
     top: -4px
 }

 .dropdown-menu {
     position: absolute;
     top: 100%;
     left: 0;
     background-color: var(--bg-panel);
     padding: 10px;
     display: none;
     /* Hide by default */
     min-width: 150px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 .dropdown-menu li a {
     display: block;
     text-decoration: none;
     color: var(--color-text);
     padding: 5px 10px;
 }

 .dropdown-menu li a:hover {
     background-color: var(--main-color);
     color: var(--color-text);
 }

 .dropdown:hover .dropdown-menu {
     display: block;
     /* Show on hover */
 }

 /* Nested dropdown styles */
 .right-dropdown {
     /* right: 0; */
     left: auto;
     display: none;
     /* Hide by default */
 }

 .dropdown-menu.right-dropdown li a::after {
     content: "";
     display: inline-block;
     width: 0;
     height: 0;
     border-left: 5px solid transparent;
     border-right: 5px solid var(--color-text);
     border-bottom: 5px solid transparent;
     transform: rotate(90deg);
     margin-left: 5px;
 }

 .dropdown-menu--inner {
     position: absolute;
     top: 90%;
     left: 70%;
     background-color: var(--bg-panel);
     padding: 10px;
     display: none;
     /* Hide by default */
     min-width: 150px;
     box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
     z-index: 1;
 }

 /* Hover state to Show the sub-menu */
 .dropdown--inner:hover .dropdown-menu--inner,
 .dropdown-menu--inner:hover {
     display: block;
 }


 /* smaller screens */

 @media (max-width: 750px) {

     header {
         padding: 2rem 4rem;
     }

     .header__button {
         display: block;
     }

     .header__checkbox:checked~nav {
         transform: translateY(30px);
     }

     nav {
         position: absolute;
         left: 0px;
         background-color: var(--bg-panel);
         width: 100%;
         transform: translateY(-200%);
         transition: all 0.2s;
     }

     .header__nav {
         display: flex;
         flex-direction: column;
         padding: 20px 10px;
     }

     .header__nav li {
         padding: 0 3rem;
     }

     .header__nav li:not(:last-child) {
         margin: 0;
         margin-bottom: 2rem;
     }

     .header__nav .dropdown-menu--inner li {
         padding: 0 1rem;
     }
 }